<!DOCTYPE html>
<html>
<head>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="../../static/json2.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
 <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      Home
    </a>
  </div>
 </div>
</nav>

<h1>{{.payload.Name}}</h1>
<div id="container" style="height: auto;"></div>
<script>
var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() {
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }
        anHttpRequest.open("GET", aUrl, true );
        anHttpRequest.setRequestHeader('Accept', 'application/json')
        anHttpRequest.send(null);
    }
}
var client = new HttpClient();
client.get("/file/points/{{.payload.ID}}", function(response) {
    new Highcharts.chart('container', {
        chart: {
            zoomType: 'x',
            renderTo: 'container'
        },
        title: {
            text: 'Plot'
        },
        xAxis: {
            title: {
                text: 'Time'
            }
        },
        yAxis: {
            title: {
                text: 'Value'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            line: {
                fillOpacity: 0,
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            fillOpacity: 0,
            turboThreshold: JSON.parse(response).length,
            type: 'line',
            name: 'Value',
            data: JSON.parse(response)
        }]
    });
});
</script>
</body>
</html>
